<configuration>
    <appender name="JSON_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>E:/tradefrankenstein/tradefrankenstein/logs/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>E:/tradefrankenstein/tradefrankenstein/logs/app.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>7</maxHistory>
        </rollingPolicy>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <fieldNames>
                <timestamp>timestamp</timestamp>
                <level>level</level>
                <logger>logger_name</logger>
                <thread>thread</thread>
                <message>message</message>
                <context>context</context>
            </fieldNames>
            <includeCallerData>true</includeCallerData>
            <includeMdc>true</includeMdc>
            <customFields>{"app":"tradefrank"}</customFields>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="JSON_FILE"/>
    </root>
</configuration>
